:root { 
--black_900_7f:#0000007f; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d9d9d9; 
--gray_500:#999494; 
--blue_500:#18a0fb; 
--blue_gray_100_01:#cccccc; 
--black_900_3f:#0000003f; 
--gray_300:#e5e5e5; 
--gray_100:#f5f5f5; 
--black_900_33:#00000033; 
--black_900_cc:#000000cc; 
--black_900:#000000; 
--gray_500_01:#aba9a9; 
--gray_500_02:#a9a4a4; 
--white_A700:#ffffff; 
--cyan_700:#0d82a7; 
}